[submodule "mux"]
	path = mux
	url = https://github.com/gorilla/mux
[submodule "mux1"]
	path = mux1
	url = https://github.com/gorilla/mux
[submodule "mux2"]
	path = mux2
	url = https://github.com/gorilla/mux
[submodule "mux3"]
	path = mux3
	url = https://github.com/gorilla/mux
